body {
    background-image: url(https://images.alphacoders.com/821/thumb-1920-821092.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    color: hotpink;
}

div{
    color: hotpink;
}

.header{
    margin: 45px auto 200px auto;
    border: 2px solid;
    padding: 10px;
    font-family: 'Blaka Hollow', cursive;
    font-size: 80px;
    text-align: center;
}

.div{
    font-family: 'Indie Flower', cursive;
    font-size: 70px;
}